.banner__cardapio{
    background: var(--degrade);
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 5% 0;
    align-items: center;
    
}

.banner__conteudo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 15%;
}

.banner__titulo{
    font-family: var(--fonte-titulo);
    color: var(--cor-branco);
    font-size: 3.5rem;
    margin-bottom: 1%;
}

.banner__titulo__destaque {
    color: var(--cor-vermelhoMENOR);
}

.banner__subtitulo{
    font-family: var(--fonte-subtitulo);
    color: var(--cor-branco);
    font-size: 1.4rem;
    margin-bottom: 2%;
}

.banner__pesquisa{
    background-color: transparent;
    border: 2px solid var(--cor-branco);
    border-radius: 20px;
    padding: 15px 0;
    width: 75%;
    color: var(--cor-branco);
    padding-left: 2em;
    outline: none;
    
}

.banner__pesquisa::placeholder{
    text-align: center;
    color: var(--cor-branco);
    font-family: var(--fonte-textos);
    font-size: 1.1rem;
    font-weight: 600;
    background: url("/assets/icons8-lupa-24.png") no-repeat;
    background-position: calc(50% - 115px);
}

.banner__imagem{
    margin-left: 10%;
}

/* card */

.card-desconto-menor__imagem {
    display: none;
}

    .card-desconto {
        background-color:var(--cor-fundo);
        border: 1px solid var(--cor-fundo);
        border-radius: 24px;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        margin: 3% 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 600px;
        height: 200px;
        gap: 20px;
        
    }
    .card-desconto__titulo {
        font-size: 1.3rem;
        font-family: var(--fonte-titulo);
        text-transform: uppercase;
    }

    .card-desconto__texto {
        font-size: 1rem;
        font-weight: 500;
        font-family: var(--fonte-textos);
        text-align: justify;
        line-height: 1.2;
    }

    .card-desconto__texto-destaque {
        text-transform: uppercase;
    }

    .card-desconto__imagem{
        padding-left: 10%;
    }

    .card-desconto__conteudo {
        padding:20% 10% 20% 0;
        display: flex;
        flex-direction: column;
        gap: 2px;
        text-align: center;
    }



/* cardapio */

.cardapio-mobile {
    display: none;
}

.cardapio{
    background-color: var(--cor-PRINCIPAL);
    padding-bottom: 10%;
}

.cardapio__titulo {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: var(--fonte-titulo);
    background-color: var(--cor-fundo);
    color: var(--cor-SECUNDARIO);
    padding: 2% 0 1% 0;
}


.cardapio__lista {
    display: flex;
    flex-direction: column;
    gap: 150px;
    margin: 5% 20% 0 20%;
}

.cardapio__lista-item{
    display: flex;
    align-items: center;

}

.cardapio__lista__titulo{
    font-family: var(--fonte-subtitulo);
    font-size: 3rem;
    color: var(--cor-fundo);
    margin-bottom: 30px;
}

.cardapio__lista__descricao{
    font-family: var(--fonte-textos);
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--cor-branco);
    width: 90%;
    text-align: justify;
    line-height: 1.3em;
}

.cardapio__lista-texto2{
    margin-left: 10%;
}

@media screen and (max-width:823px) { 
   /* banner */
    .banner__cardapio {
        display: flex;
        flex-direction: column;
        padding-top: 20%;
    }

    .banner__conteudo {
        margin-left: 0;
        text-align: center;
    }
    
    .banner__pesquisa {
        align-self: center;
        background: none;
        padding: 20px 0;
        
    }

    .banner__cardapio::placeholder {
        background-position: calc(50% - 110px);

    }

    /* card */  
    .card-desconto {
        width: auto;
        height: auto;
        margin: 3% 5%;
    }

    .card-desconto__titulo {
        font-size: 1.2rem;
    }

    .card-desconto__texto {
        font-size: 0.8rem;
    }

    .card-desconto__conteudo {
        padding: 5% 5% 5% 0;
    }

    .card-desconto-menor__imagem {
        display: block;
        width: 100px;
    }

    .card-desconto__imagem {
        display: none;
    }

    /* cardapio */

    .nao-mobile {
        display: none;
    }

    .cardapio-mobile {
        display: flex;
        justify-content: center;
    }
    .cardapio__lista {
        padding-top: 15%;
        margin: 5% 15% 0 15%;
        gap: 200px;
        display: flex;
        align-items: center;
    }

    .cardapio__lista-item {
        flex-direction: column;
        gap: 40px;
    }

    .cardapio__lista__descricao{
        font-family: var(--fonte-textos);
        font-weight: 700;
        font-size: 1.2rem;
        color: var(--cor-branco);
        width: 100%;
        text-align: justify;
        line-height: 1.3em;
        
    }
    
    .cardapio-mobile {
        padding-top: 15%;
        margin: 5% 15% 0 15%;
        gap: 200px;
    }

    .cardapio__imagem {
        padding-top: 3em;
    }
    
    .cardapio-mobile {
        text-align: justify;
    }

}


@media (min-width: 824px) and (max-width:1440px) {
    .banner__cardapio {
        padding-top: 10%;
        padding-right: 5%;
    }

    /* card */
    .card-desconto {
       justify-content: center;
       margin: 3% 0% 3% 17%;
    }

    /* cardapio */

 
    .cardapio__lista {
        margin: 5% 10% 0 10%;
    }

    .cardapio__lista-texto2{
        margin-left: 0;
    }
}